[Unit]
Description=Stresstest service
After=multi-user.target
[Service]
Type=simple
User=pi
Restart=always
ExecStart=/usr/bin/python3 /home/pi/Stresstest/stresstest.py
[Install]
WantedBy=multi-user.target
